.logo {
    display: flex;
    gap: 1rem;
}
.span_l, .span_sm {
    font-family: "IBM Plex Mono";
    font-weight: normal;
    margin: 0;
    display: block;
}
.span_l {
    font-size: 1.625rem;
    line-height: 2.125rem;
}
.span_sm {
    font-size: 1rem;
    line-height: 1.4rem;
}