.registration {
	font-family: "JetBrains Mono";
	background-color: transparent;
	color: #fff;
	border: 3px solid #fff;
	padding: 15px 30px;
	font-weight: 500;
	font-size: 1rem;
	line-height: 21px;
	text-transform: uppercase;
    max-width: max-content;
}
.registration:hover {
	background-color: #c2bcd2;
	color: #060606;
}
