.footer {
	height: 50vw;
	background-blend-mode: overlay;
	// position: relative;

	.gradient {
		z-index: 0;
		background: radial-gradient(ellipse, rgba(99, 19, 200, 0.2) 33.06%, rgba(6, 6, 6, 0.2) 86.26%);
		// opacity: 0.4;
		// filter: blur(560px);
		border: 50px solid transparent;
		border-radius: 30px;
		box-sizing: border-box;
		background-position: center;
		background-blend-mode: overlay;
		background-repeat: no-repeat;
		height: 100%;
		width: 100%;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 0; right: 0; bottom: 0; left: 0;
			z-index: -1;
			margin: -50px; /* !importanté */
			border-radius: inherit; /* !importanté */
			background: linear-gradient(0deg, rgba(99,19,200,0.2) 50%, rgba(6,6,6,0.2) 100%);
		}
	}

	.links {
		gap: 12px;
	}
}
