$gradient_border: 50px;

.footer {
	min-height: 500px;
	max-height: 50vw;
	background-blend-mode: overlay;
	position: relative;

	.gradient {
		position: absolute;
		z-index: 0;
		background: radial-gradient(ellipse, rgba(99, 19, 200, 0.2) 33.06%, rgba(6, 6, 6, 0.2) 86.26%);
		border: $gradient_border solid transparent;
		border-radius: 30px;
		box-sizing: border-box;
		background-position: center;
		background-blend-mode: overlay;
		background-repeat: no-repeat;
		height: 100%;
		width: 100%;
		// position: relative;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -1;
			margin: -50px;
			border-radius: inherit;
			background: linear-gradient(0deg, rgba(99, 19, 200, 0.1) 50%, rgba(6, 6, 6, 0.2) 100%);
		}	
	}
	.footer_content {
		align-items: flex-start;
		padding-top: 25%;
		padding-bottom: 2%;
		box-sizing: border-box;
		position: inherit;
		z-index: 2;
	}

	.links {
		gap: 12px;
	}
}

@media screen and (max-width: 1200px) {
	.footer {
		.footer_content {
			padding-top: 20%;
			padding-bottom: 5%;
			gap: 2rem;
		}
	}
}

@media screen and (min-width: 1441px) {
	.footer {
		max-height: 30vw;

		.footer_content {
			padding-top: 15%;
		}
	}
}

@media screen and (min-width: 1920px) {
	.footer {
		.footer_content {
			padding-top: 10%;
		}
	}
}