@use "./styles/theme.scss";

.App {
  text-align: left;
  background-color: theme.$main-background;
  font-family: "JetBrains Mono", monospace;
}

.container {
  width: 73%;
  margin: 0 auto;
}

.main_info {
  background-image: url("./assets/images/photos/main_info_bg.png");
  background-size: cover;
  background-position: center;
  min-height: 900px;
}
